.NameTagContainer{
    font-size: medium;
    border-radius: 5px;
    border: rebeccapurple  solid 5px;
    padding: 5px;
    margin: 10px;
    float: left;  
}

.detailContainer{
    font-size: medium;
}

.NameTagContainer h1 {
    text-align: center;
}

.NameTagContainer:hover{
    border: rgb(93, 218, 93)  solid 5px;
    background-color: rgb(174, 184, 173);
}

.detailContainer:hover{
    font-size: 20px;
}
